@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: Lato;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}


/* ---------------------------- The nav bar style ---------------------------- */ 

header {
    background-color: black;
    position: relative;
    width: 100vw;
}

header>div {
    display: inline-block;
}

.logo img{
    margin-top: 17px;
    margin-left: 60px;
    height: 70px;
    width: 190px;
}

header ul {
    position: absolute;
    top: 16px;
    right: 200px;
}

header li {
    display: inline-block;
    margin-right: 35px;
}

header li img {
    height: 27px;
    width: 28px;
}

.register button , .register a  {
    position: absolute;
    top: 31.5px;
    right: 100px;
    color: white;
    background-color: #808080;
    padding: 5px 15px;
    border-radius: 4%;
    margin-right:5px;
}

#profile {
    position: absolute;
    top: 31.5px;
    right: 20px;
    padding: 5px 15px;
}

#profile img {
    height: 30px;
    width: 30px;
}


/* ---------------------------- The Diaporama style ---------------------------- */ 
#container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

#container a img {
    border-radius: 1%;
    height: 500px;
    width: auto;
}

/* ---------------------------- The Menu style ---------------------------- */
.menu {
    background-color: #808080;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin: 20px 40px 20px 40px; /* top right bottom left */
}

.menu li a {
    color: azure;
}

/* ---------------------------- The Footer style ---------------------------- */
footer {
    background-color: black;
    height: 100px;
    width: 100vw;
    margin-top: 70px;
    padding-top: 20px;
    text-align: center;
}

footer ul {
    margin: 20px;
}

footer li {
    display: inline;
    margin: 20px 40px 20px 40px; /* top right bottom left */
}


footer li a {
    color: white;
}

/* ---------------------------- The Zone1 style ---------------------------- */
.zone1 {
    text-align: center;
    
}
.zone1 a img {
    margin: 20px 40px 20px 40px;
    display: inline-block; 
    height: 100px;
    width: 130px;
}

/* ---------------------------- The Zone2 style ---------------------------- */
.zone2 {
    margin: 30px;
}
fieldset {
    display: inline-block;
    height: auto;
    width: auto;
}

fieldset select {
    display: block;
}

.fildsets {

    display: flex;
    justify-content: center;
}

.comparer-button {
    text-align: center;
    margin: 10px;
}

/* ---------------------------- The Zone3 style ---------------------------- */
.zone3 {
    margin: 30px;
}
.title {
    text-align: center;
}

.guide-button {
    text-align: center;
    margin: 10px;
}


.zone3 .comparaison-populaires{
    text-align: center;
    margin: 50px;
  }

.zone3 .slider {
    display: flex;
    justify-content:center;
}

.zone3 .cadre {
    padding: 5px;
    border: 2px solid #ddd; /* Cadre border style */
    margin: 5px; /* Cadre margin */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.zone3 .vehicules {
    display: flex;
    padding-top: 20px;
}

.zone3 .vehicules >p {
    padding-top:20px;
}

.item1,.item2 {
    margin:10px;
}

.item1 img, .item2 img {
  height: 80px;
  width: 120px;
}

/*************     comparateur     ***************/

tr#image img {
    height: 80px;
    width: 120px;
}

.comp-results {
    margin-left :20px;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.comp-results table {
      border-collapse: collapse;
      width: 100%;
}

.comp-results th, td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 10px;
}

.comp-results th {
      background-color: #f2f2f2;
}

.comp-results #info, #details {
    font-size:larger;
}


/*****************************     News page     *******************************/
.news-container {
    margin: 40px;

}

.news-item {
    padding: 5px;
    border: 2px solid #ddd; /* Cadre border style */
    margin: 45px; /* Cadre margin */
    box-sizing: border-box;
}

.news-container img {
    height:300px;
    width:500px;
}

.news-container .paragraph-content p{
    margin: 20px;
}


.news-container .image ,  .news-container h3 {
    text-align: center;
}

/******************************   Marques page     *******************************/

.marque {
    display: inline-block;
}

.marque img {
    height: 150px;
    width: 180px;
}

.marques-details , .principales-voitures , .liste-voitures h3 ,.centered    {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.marques-details ul {
    list-style-type: none;
}

.principales-voitures .vehicule-spec .marque {
    margin: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
}


/******************************   Vehicule détails page     *******************************/

.avis-apprec {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5%;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.modal form {
    margin: 30px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}


.modal  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


.modal  button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #c7aba0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.modal button:hover {
    color: black;
    background-color: #ccc;
  }

.modal  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.avis-ajout  form, .avis {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.avis h5 {
    margin-top: 0px;
}


.avis-ajout input[type='number'],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.avis-ajout label {
    display: block;
    margin-bottom: 8px;
}

.avis-ajout button {
    padding: 10px 15px;
    background-color: rgb(199, 168, 127);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.avis-ajout button:hover {
    background-color: rgb(115, 207, 207);
}




/********************           Admin pages            **********************/
.manage-links a img {
    margin: 20px 40px 20px 40px;
    display: inline-block; 
    height: 130px;
    width: 130px;
}

.manage-links {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}

.table-admin {
    margin: 20px;
    text-align: center;
}

.table-admin table {
    border-collapse: collapse;
    width: 100%;
}

.table-admin th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-admin td {
    text-align: left;
}

.table-admin th {
    text-align: center;
    background-color: #f2f2f2;
}

.table-admin img {
    height: 80px;
    width: 120px;
}


#myTable td a img {
    height: 30px;
    width: 30px;
}


.vehicule_details {
    margin: 20px;
}

.vehicule_details img {
    margin-bottom: 20px;
}


/*****************             ajout        *****************/
.ajout-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ajout-container label {
    display: block;
    margin-bottom: 8px;
}
.ajout-container input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.ajout-container button {
    background-color:  rgb(199, 168, 127);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.ajout-container button:hover {
    background-color: rgb(115, 207, 207);
}


.links {
    margin: 10px;
}

.links a {
    margin: 20px;
}

/*****************************/
.contact-info {
    text-align:center;
    margin-top: 60px;
    margin-bottom: 150px;
}

.contact-info p {
    margin: 10px;
}

.favoris-vehicules img {
    width: 500px;
}

.favoris-vehicules {
    
    margin-left: 50px;
}

.favoris-vehicules  .vehicule{
    margin-bottom:50px;
}

.centered img {
    height: 30px;
    width: 30px;

}


